
h1
{
  text-align: center;
  color: #6AE368;
  font-size: 72px;
  font-family: 'Raleway', sans-serif;
}
#top, #bottom, #left, #right {
	background: #6AE368;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 10px;
		}
		#left { left: 0; }
		#right { right: 0; }

	#top, #bottom {
		left: 0; right: 0;
		height: 10px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
#101 {
  color: white;
  font-size: 36px;
  font-family: 'Raleway', sans-serif;
}